DateTime==4.4
et-xmlfile==1.1.0
Flask==2.1.1
gunicorn==20.1.0
# idna==2.6
importlib-metadata==4.11.3
Jinja2==3.1.1
Js2Py==0.71
lxml==4.7.1
openpyxl==3.0.10
pandas==1.4.3
waitress==2.1.1
Werkzeug==2.1.1
xlrd==2.0.1